{% extends "blacklist.html.twig" %}

{% block content %}

    {% if valid is defined %}
        <div class="alert alert-success">
            <p><strong>{{ 'blacklist.email_sent_p1'|trans }}</strong></p>
            <p>{{ 'blacklist.email_sent_p2'|trans }}</p>
        </div>
    {% endif %}

    <div class="alert alert-info">{{ 'blacklist.remove_intro'|trans }}</div>

    <form action="{{ url('blacklist_remove') }}" method="post" role="form">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-default">{{ 'blacklist.submit'|trans }}</button>
    </form>

{% endblock %}